In [1]:
i= 101
i>100

True

In [2]:
x= 'a'
if(x=='a'):
    print("this is a")
else:
    print("this is not a")

this is a

In [3]:
y= 8
x=1
x>0 and y<10

True

In [4]:
a = 5
a == 6

False

In [5]:
i = 6
i > 5

True

In [6]:
i = 2
i > 5

False

In [7]:
i = 2
i != 6

True

In [8]:
i = 6
i != 6

False

In [9]:
"ACDC" == "Michael Jackson"

False

In [10]:
"ACDC" != "Michael Jackson"

True

In [11]:
'B' > 'A'

True

In [12]:
'BA' > 'AB'

True

In [13]:
age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [14]:
age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [15]:
age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [16]:
album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [17]:
album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [18]:
album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [19]:
album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [20]:
album_year = 1983

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

In [21]:
album = 8.5
if album > 8.0:
    print('This album is Amazing!')

This album is Amazing!

In [22]:
album = 7.9
if album > 8.0:
    print('This album is Amazing!')
else:
    print('this album is ok')

this album is ok

In [23]:
album = 1993

if album < 1980 or album==1991 or album==1993:
    print(album)

1993

In [27]:
a = range(3)
a
for i in range(3):
    print(i)

0
1
2

In [28]:
range(10,15)
for i in range(10,15):
    print(i)

10
11
12
13
14

In [29]:
range(101)
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [32]:
squares = ['red', 'yellow', 'pink', 'green', 'blue', 'purple']
for i in range(0,6):
    squares[i] ="white"
print(squares)

['white', 'white', 'white', 'white', 'white', 'white']

In [35]:
squares = ['red','yellow','green']

for i, square in enumerate(squares):
    print(square)
    print(i)

red
0
yellow
1
green
2

In [1]:
squares = ['orange','orange','purple','orange','blue']
newSquares = []
i = 0

while(squares[i] =='orange'):
    newSquares.append(squares[i])
    i = i+1
newSquares

['orange', 'orange']

In [2]:
x=11
y=1
while(y< x):
    print(y)
    y=y+1

1
2
3
4
5
6
7
8
9
10

In [3]:
range(3)

range(0, 3)

In [4]:
for i in range(3):
    print(i)

0
1
2

In [5]:
for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [10]:
for i in range(0,8,2):
    print(i)

0
2
4
6

In [11]:
stringExemplo = 'exemplo'
for i in stringExemplo:
    print(i)

e
x
e
m
p
l
o

In [12]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']
print(squares)
for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])
    
print(squares)

['red', 'yellow', 'green', 'purple', 'blue']
Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight
['weight', 'weight', 'weight', 'weight', 'weight']

In [13]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [14]:
dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [15]:
# Write your code below and press Shift+Enter to execute
range(-5,6)
for i in range(-5,6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [16]:
# Write your code below and press Shift+Enter to execute
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i in Genres:
    print(i)

rock
R&B
Soundtrack
R&B
soul
pop

In [17]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for i in squares:
    print(i)

red
yellow
green
purple
blue

In [18]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 1
Rating = PlayListRatings[0]
while(Rating >= 6):
    print(Rating)
    Rating = PlayListRatings[i]
    i = i + 1

10
9.5
10
8
7.5

In [20]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

for i in PlayListRatings:
    if i<=6 :
        break
    else:
        print(i)

10
9.5
10
8
7.5

In [22]:
def add1(a):
    
    b = a + 1
    return b
add1(3)

4

In [23]:
add1(21)

22

In [25]:
def mult(a, b):
    c = a*b
    return c

ex1 = mult(2,3)
ex2 = mult(10,3.14)

print(ex1, ex2)

6 31.400000000000002

In [28]:
def artist_names(*names):
    for name in names:
        print(name)
    return names
        
a1 =artist_names('Criolo','MJ')
a2 = artist_names('Queen','Capital','Helloween')

print(a1, a2)
print(type(a1), type(a2))

Criolo
MJ
Queen
Capital
Helloween
('Criolo', 'MJ') ('Queen', 'Capital', 'Helloween')
<class 'tuple'> <class 'tuple'>

In [32]:
c =11
def f(*x):
    return sum(c)
f(11)

TypeError: 'int' object is not iterable

In [1]:
def divide(a , b):
    return a/b

divide(4,2)

2.0

In [2]:
def con(a, b):
    return(a + b)

In [3]:
a = con(1,2)
print(a)
b = con('test','Value')
print(b)

3
testValue

In [1]:
a = ['a','b']
b = ['c','d']
print(con(a,b))

c = ("apple", "banana", "cherry")
d = ("c", "d", "e")
print(con(c,d))

NameError: name 'con' is not defined

In [2]:
print(a)

['a', 'b']

In [3]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

In [4]:
make="BMW"
model="M3"
color="red"

car = Car(make,model,color)
print(car)

<__main__.Car object at 0x105b2fee0>

In [5]:
car.car_info()

make:  BMW
model: M3
color: red
number of owners: 0

In [14]:
x=1

if(x!=1):
    print('Hello')
else:
    print('Hi')

print('Mike')

Hi
Mike

In [15]:
A=['1','2','3']

for a in A:
    print(2*a)

11
22
33

In [19]:
def Delta(x):
    if x==0:
        y=1;

    else:
        y=0;

    return(y)

print(Delta(2))
print(Delta(0))

0
1