In [3]:
file1 = open('exemplo.txt','r')

In [8]:
# Print the path of file

file1.name

'exemplo.txt'

In [7]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [9]:
FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [10]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [11]:
file1.close()

In [12]:
with open('exemplo.txt', "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [13]:
example1 = 'exemplo.txt'
with open(example1, "r") as file1:
    print(file1.read(4))

This

In [14]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [18]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [19]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [20]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1;

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [21]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [22]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [23]:
# Print the second line

FileasList[1]

'This is line 2\n'

In [24]:
# Print the third line

FileasList[2]

'This is line 3'

In [30]:
exemplo2 = 'exemplo2.txt'
with open(exemplo2, 'w') as File2:
    File2.write('this is line A \n')

In [31]:
with open(exemplo2, 'a') as File2:
    File2.write('this is a new line with the append Method')

In [32]:
exemplo3 = 'exemplo3.txt'
with open(exemplo2, 'r') as readfiles:
    with open(exemplo3, 'w') as writefile:
        for line in readfiles:
            writefile.write(line)

In [34]:
# Write line to file

with open('Example2.txt', 'w') as writefile:
    writefile.write("This is line A")

In [36]:
# Read file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [37]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [38]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [39]:
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")

In [41]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [42]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [43]:
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [44]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [45]:
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line D\n")

In [46]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [47]:
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [48]:
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [12]:
df

    a   b
0  11  21
1  21  22
2  31  23

In [3]:
df.head(2)

    a   b
0  11  21
1  21  22

In [4]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [8]:
df['b']

0    21
1    22
2    23
Name: b, dtype: int64

In [14]:
df.iloc[0,0]

11

In [16]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [17]:
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [18]:
df.to_csv("testeNewCSV.csv")

In [19]:
import numpy as np

In [20]:
a = np.array([0,1,2,3,4])

In [21]:
a.size

5

In [22]:
a.ndim

1

In [23]:
a.shape

(5,)

In [24]:
b = np.array([0,[1,2]])

In [25]:
b.size

2

In [26]:
b.ndim

1

In [27]:
b.shape

(2,)

In [32]:
c = np.array([[1,1],[2,2],[0,4]])

In [33]:
c.size

6

In [34]:
c.ndim

2

In [35]:
c.shape

(3, 2)

In [36]:
z = [2,2]
v = z *2
v

[2, 2, 2, 2]