In [1]:
("disco", 10,30.5)

('disco', 10, 30.5)

In [2]:
tupla1 = ("disco", 10,30.5)
tupla2 = tupla1 + ("hard rock",20)
tupla2

('disco', 10, 30.5, 'hard rock', 20)

In [3]:
tup2 = ("disco", 10,30.5,4)
tup2[0:3]

('disco', 10, 30.5)

In [6]:
tup2 = ("disco", 10,30.5,4,5)
tup2[3:5]

(4, 5)

In [7]:
tup2 = ("disco", 10,30.5,4,5)
len(tup2)

5

In [8]:
ratings = (10,30,3,6,3,8,8)
ratings

(10, 30, 3, 6, 3, 8, 8)

In [9]:
ratingSorted= sorted(ratings)
ratingSorted

[3, 3, 6, 8, 8, 10, 30]

In [10]:
# Tuples: Nesting
NT=(1,2,("POP","ROCK"),(4,2),("disco",(1,2)))
NT

(1, 2, ('POP', 'ROCK'), (4, 2), ('disco', (1, 2)))

In [11]:
NT[2]

('POP', 'ROCK')

In [12]:
NT[2][1]

'ROCK'

In [14]:
L = ["teste",10,23]
L

['teste', 10, 23]

In [15]:
nestList = ["Hello",23,2.1,("A",20,['Bis'])]
nestList

['Hello', 23, 2.1, ('A', 20, ['Bis'])]

In [16]:
nestList[3]

('A', 20, ['Bis'])

In [17]:
nestList[3][2]

['Bis']

In [18]:
nestList[3][2][0]

'Bis'

In [19]:
nestList[3][2][0][0]

'B'

In [20]:
nestList[1:3]

[23, 2.1]

In [21]:
nestList[1:]

[23, 2.1, ('A', 20, ['Bis'])]

In [22]:
nestList[:3]

['Hello', 23, 2.1]

In [23]:
nestList[1:5]

[23, 2.1, ('A', 20, ['Bis'])]

In [27]:
nestList[1::5]

[23]

In [29]:
L = [" ", 'valor', 1]
L

[' ', 'valor', 1]

In [31]:
L = L + ['refri','gerante',22,.5]
L

[' ', 'valor', 1, 'refri', 'gerante', 22, 0.5]

In [33]:
L.extend(['pop',20,'pop',20])
L

[' ', 'valor', 1, 'refri', 'gerante', 22, 0.5, 'pop', 20, 'pop', 20]

In [36]:
L.append(['2',23,.5])
L

[' ',
 'valor',
 1,
 'refri',
 'gerante',
 22,
 0.5,
 'pop',
 20,
 'pop',
 20,
 ['2', 23, 0.5]]

In [42]:
A = ["Cheetos",20,1.2]
A[1] = "32"
A

['Cheetos', '32', 1.2]

In [43]:
B = ['Chitas', "Chique", 20]
del(B[0])
B

['Chique', 20]

In [44]:
"Hard Rock".split()

['Hard', 'Rock']

In [46]:
#lists: Aliasing
A = ['hard rock',10,2.5]
B=A
print(A)
print(B)
B[0] = "Banana"
print(A)
print(B)

['hard rock', 10, 2.5]
['hard rock', 10, 2.5]
['Banana', 10, 2.5]
['Banana', 10, 2.5]

In [48]:
#List: Clone
A = ['hard rock',10,2.5]
B = A[:]
print(A)
print(B)
A[0] = "Teste"
print(A)
print(B)

['hard rock', 10, 2.5]
['hard rock', 10, 2.5]
['Teste', 10, 2.5]
['hard rock', 10, 2.5]

In [50]:
A=(0,1,2,3)
A[3]

3

In [51]:
A=(0,1,2,3)
A[-1]

3

In [52]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [54]:
album= ['Muse',"MEW","Muse","The Rock","Elton John"]
album = set(album)
album

{'Elton John', 'MEW', 'Muse', 'The Rock'}

In [56]:
A = {"Muse","MEW","Metalica",'NEW ORDER'}
A.add("DOORS")
print(A)
A.add("Muse")
A.add("MEW")
A

{'NEW ORDER', 'DOORS', 'Metalica', 'MEW', 'Muse'}

{'DOORS', 'MEW', 'Metalica', 'Muse', 'NEW ORDER'}

In [59]:
A = {"Muse","MEW","Metalica",'NEW ORDER'}
A.add("DOORS")
print(A)
A.add("Muse")
A.add("MEW")
print(A)
A.remove("Muse")
print(A)
"MEW" in A

{'NEW ORDER', 'DOORS', 'Metalica', 'MEW', 'Muse'}
{'NEW ORDER', 'DOORS', 'Metalica', 'MEW', 'Muse'}
{'NEW ORDER', 'DOORS', 'Metalica', 'MEW'}

True

In [1]:
set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

In [3]:
S={'A','B','C'}
S.add('D')
S

{'A', 'B', 'C', 'D'}

In [4]:
A={1,2,3,4,5}
B={1,3,9, 12}
C = A & B
C

{1, 3}

In [7]:
S={'A','B','C'}

U={'A','Z','C'}

U = U.union(S)
U

{'A', 'B', 'C', 'Z'}

In [6]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [8]:
S={'A','B','C'}

U={'A','Z','C'}

Y = S & U
Y

{'A', 'C'}

In [11]:
from platform import python_version

print(python_version())

3.7.6

In [12]:
music = set(['rap','house','electronic music', 'rap'])
music

{'electronic music', 'house', 'rap'}

In [14]:
A = [1,2,2,1]
B = set([1,2,2,1])
print(sum(A))
print(sum(B))
sum(A) == sum(B)

6
3

False

In [15]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [16]:
album_set1.issubset(album_set3)

True

In [17]:
D={'a':0,'b':1,'c':2}

In [18]:
D['a']

0

In [19]:
D.values()

dict_values([0, 1, 2])

In [20]:
D.keys()

dict_keys(['a', 'b', 'c'])

In [21]:
A=('a','b','c')
A[0]

'a'

In [22]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)